<a href="https://colab.research.google.com/github/Zarak00/Data690_fall2022/blob/main/assignment_04/assignment_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Zarak Mahmmod

- Assignment 4
- 9/25/2022

#Importing Pandas

In [15]:
import pandas as pd #importing pandas

print(pd.__version__)

1.3.5

#Uploading file to colab

In [16]:
from google.colab import files #Imported csv file from local drive

uploaded = files.upload()

Saving MERGED2017_18_PP.csv to MERGED2017_18_PP (1).csv

In [17]:
import io                          #Code imported the csv file and made in readable               

df = pd.read_csv(io.BytesIO(uploaded['MERGED2017_18_PP.csv']))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

#Question 6 - Number of Rows and Columns

In [18]:
df.shape #Code shows number of rows and columns

(7112, 1986)

#Looking at the first 5 colleges

In [19]:
df.head() #code shows first 5 colleges, If no number is added it will show first 5

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,0.7106,0.7418,5207.0,1185.0,1410.0,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,0.4009,0.5488,13308.0,9888.0,1948.0,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,0.5000,0.5000,431.0,437.0,4.0,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,0.2012,0.4231,7519.0,2378.0,1203.0,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,0.7594,0.7402,5229.0,687.0,1143.0,NaN,NaN,NaN,NaN

#Looking at the last 5 colleges

In [20]:
df.tail() #code shows last 5 colleges, If no number is added it will show first 5

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
7107,48312404,108163,1081,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7108,48387801,4223701,42237,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7109,48400201,4228101,42281,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7110,48778201,4221501,42215,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7111,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Looking 5 random colleges

In [21]:
df.sample(5)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
6148,481395,4215300,42153,Cosmo Factory Cosmetology Academy,Santa Cruz,CA,95060-4401,NaN,NaN,NaN,...,NaN,0.4286,0.6429,55.0,NaN,14.0,NaN,NaN,NaN,NaN
6261,483708,4213400,42134,Access Careers,Hempstead,NY,11550-0000,NaN,NaN,NaN,...,NaN,0.9412,0.9412,552.0,NaN,34.0,NaN,NaN,NaN,NaN
1977,180328,2286600,22866,Little Big Horn College,Crow Agency,MT,59022,NaN,NaN,NaN,...,NaN,0.5091,0.0000,492.0,NaN,55.0,NaN,NaN,NaN,NaN
3951,242750,2562500,25625,International Technical College,San Juan,PR,00918-3325,NaN,NaN,NaN,...,NaN,1.0000,0.0000,195.0,NaN,47.0,NaN,NaN,NaN,NaN
4722,432223,52098845,20988,University of Phoenix-Washington,Tukwila,WA,98188-8553,NaN,NaN,NaN,...,NaN,0.5000,0.5000,248.0,42.0,2.0,NaN,NaN,NaN,NaN

#Question 7 - Creating a smaller data frame for 9 variables

In [24]:
small_df = df[['UNITID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'ADM_RATE', 'UGDS', 'TUITIONFEE_IN', 'MN_EARN_WNE_P10']]

print("Smaller DataFrame:")

print(small_df.head())

Smaller DataFrame:
   UNITID                               INSTNM        CITY STABBR         ZIP  \
0  100654             Alabama A & M University      Normal     AL       35762
1  100663  University of Alabama at Birmingham  Birmingham     AL  35294-0110
2  100690                   Amridge University  Montgomery     AL  36117-3553
3  100706  University of Alabama in Huntsville  Huntsville     AL       35899
4  100724             Alabama State University  Montgomery     AL  36104-0271

   ADM_RATE     UGDS  TUITIONFEE_IN  MN_EARN_WNE_P10
0    0.9027   4824.0         9857.0              NaN
1    0.9181  12866.0         8328.0              NaN
2       NaN    318.0         6900.0              NaN
3    0.8123   6917.0        10280.0              NaN
4    0.9787   4189.0        11068.0              NaN

#Question 9 : Definitions

- UNTID - stands for unit id for insititution. 
- INSTNM - stands for insititution name.
- City -  in the city where the insititution in located. 
- Zip - stands for the zip code of the insititution.
- ADM_RATE - stands for admission rate 
- UGDS - stands for Enrollment of undergraduate certificate/degree-seeking students
- TUITIONFEE_IN - In-state tuition and fees
- MN_EARN_WNE_P10 - 10_yrs_after_entry.working_not_enrolled.mean_earnings

#Question 10 Explore smaller data set

#Look at the first 10 colleges

In [25]:
small_df.head(10)

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
0,100654,Alabama A & M University,Normal,AL,35762,0.9027,4824.0,9857.0,NaN
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,0.9181,12866.0,8328.0,NaN
2,100690,Amridge University,Montgomery,AL,36117-3553,NaN,318.0,6900.0,NaN
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,0.8123,6917.0,10280.0,NaN
4,100724,Alabama State University,Montgomery,AL,36104-0271,0.9787,4189.0,11068.0,NaN
5,100751,The University of Alabama,Tuscaloosa,AL,35487-0100,0.5330,32387.0,10780.0,NaN
6,100760,Central Alabama Community College,Alexander City,AL,35010,NaN,1404.0,4440.0,NaN
7,100812,Athens State University,Athens,AL,35611,NaN,2801.0,NaN,NaN
8,100830,Auburn University at Montgomery,Montgomery,AL,36117-3596,0.8240,4211.0,8020.0,NaN
9,100858,Auburn University,Auburn,AL,36849,0.8393,23391.0,10968.0,NaN

#Look at the last 10 colleges

In [37]:
small_df.tail(10)

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
7102,48154401,National Personal Training Institute of Cleveland,Highland Heights,OH,44143,NaN,NaN,NaN,NaN
7103,48305401,Barber School of Pittsburgh - Ambridge,Ambridge,PA,150030000,NaN,NaN,NaN,NaN
7104,48312401,Arizona State University at Tucson,Tucson,AZ,857454284,NaN,NaN,NaN,NaN
7105,48312402,Arizona State University - ASU Colleges at Lak...,Lake Havasu City,AZ,864036877,NaN,NaN,6904.0,NaN
7106,48312403,Arizona State University at The Gila Valley,Thatcher,AZ,855525545,NaN,NaN,NaN,NaN
7107,48312404,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,NaN
7108,48387801,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,NaN
7109,48400201,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,NaN
7110,48778201,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,NaN
7111,49005401,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,22575.0,NaN

#Look at the 10 random sample

In [35]:
small_df.sample(10)

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
5580,457101,Carrington College-Las Vegas,Las Vegas,NV,89119,0.5677,322.0,NaN,NaN
3881,240338,Wisconsin Lutheran College,Milwaukee,WI,53226-4699,0.9025,982.0,29140.0,NaN
1738,172918,Alexandria Technical & Community College,Alexandria,MN,56308,NaN,1496.0,5410.0,NaN
4930,441609,Yeshiva Shaarei Torah of Rockland,Suffern,NY,10901-4003,NaN,93.0,12500.0,NaN
2198,189088,Bard College,Annandale-On-Hudson,NY,12504-5000,0.5821,1846.0,52906.0,NaN
4939,441760,Lamar Institute of Technology,Beaumont,TX,77705,NaN,2673.0,4689.0,NaN
6702,12268503,San Joaquin Valley College - Bakersfield,Bakersfield,CA,933094523,NaN,NaN,NaN,NaN
6040,476902,Mitsu Sato Hair Academy,Overland Park,KS,66212-1457,NaN,35.0,NaN,NaN
4964,442435,Interactive College of Technology-Gainesville,Gainesville,GA,30504,NaN,63.0,9770.0,NaN
2108,185536,Middlesex County College,Edison,NJ,08818-3050,NaN,10478.0,3468.0,NaN

#Find and display UMBC

In [69]:
UMBC_df_filtered = small_df[df['INSTNM'] == 'University of Maryland-Baltimore County']
UMBC_df_filtered

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1478,163268,University of Maryland-Baltimore County,Baltimore,MD,21250,0.6021,11130.0,11518.0,NaN

#Find and display Maryland College Park

In [68]:
UMD_df_filtered = small_df[df['INSTNM'] == 'University of Maryland-College Park']
UMD_df_filtered

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1479,163286,University of Maryland-College Park,College Park,MD,20742,0.445,29273.0,10399.0,NaN

#Find and display Loyola College Maryland

In [67]:
LC_df_filtered = small_df[df['INSTNM'] == 'Loyola College Maryland']
LC_df_filtered

Empty DataFrame
Columns: [UNITID, INSTNM, CITY, STABBR, ZIP, ADM_RATE, UGDS, TUITIONFEE_IN, MN_EARN_WNE_P10]
Index: []

#Find and display Johns Hopkins

In [66]:
JH_df_filtered = small_df[df['INSTNM'] == 'Johns Hopkins University']
JH_df_filtered

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1473,162928,Johns Hopkins University,Baltimore,MD,21218-2688,0.1254,5663.0,52170.0,NaN

#Question 11 Only current states in the data

In [82]:
state_df_filtered = small_df[df['STABBR'] == 'MD']
state_df_filtered

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1446,161651,Aesthetics Institute of Cosmetology,Gaithersburg,MD,20877,NaN,25.0,NaN,NaN
1447,161688,Allegany College of Maryland,Cumberland,MD,21502-2596,NaN,1990.0,3940.0,NaN
1448,161767,Anne Arundel Community College,Arnold,MD,21012-1895,NaN,11294.0,4646.0,NaN
1449,161776,Brightwood College-Towson,Towson,MD,21286-2201,NaN,309.0,NaN,NaN
1450,161800,Award Beauty School,Hagerstown,MD,21740-5610,NaN,157.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6800,16210401,Cecil College - Elkton Station,Elkton,MD,219215535,NaN,NaN,4005.0,NaN
7004,43018401,Strayer University-Rockville Campus,Rockville,MD,20850,NaN,NaN,13857.0,NaN
7005,43018402,Strayer University-Anne Arundel Campus,Millersville,MD,21108,NaN,NaN,13857.0,NaN
7006,43018403,Strayer University-White Marsh Campus,Baltimore,MD,21236,NaN,NaN,13857.0,NaN
7007,43018404,Strayer University-Owings Mills Campus,Owings Mills,MD,21117,NaN,NaN,13857.0,NaN